Package: rpirrigate
Version: 1.0.0
Architecture: all
Depends: lighttpd, php5-common, php5-cgi, php5, php-pear, php5-sqlite, rpi.gpio, sqlite3
Maintainer: Bob Vann <example@gmail.com>
Description: RPirrigate install package
